.scene {
    position: relative;
}

.graph__node {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    cursor: default;
}


.graph__node--fake {
    display: inline;
    background-color: transparent;
    /*background-color: #ffb6c150;*/
    /*display: none;*/
}

.scene svg {
    position: absolute;
    top: 0;
    left: 0;
}

.graph__edge-count {
    font-weight: normal;
    font-size: 8px;
    line-height: 14px;
    color: #2B3448;
    background-color: #ffffff80;
}

