.scene {
    position: relative;
}

.node {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;

    font-size: 10px;
    cursor: default;
}

.node--process {
    background-color: lightblue;
}

.node--fake {
    background-color: lightpink;
    opacity: 0.75;
}

.scene svg {
    position: absolute;
    top: 0;
    left: 0;

}
