.scene {
    position: relative;
    width: 100%;
    height: 100%;
}

.graph__node {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: white;
    cursor: default;
}


.graph__node--fake {
    background-color: #ffb6c170;
    opacity: 0.5;
    font-size: 10px;
    display: none;
}

.scene svg {
    position: absolute;
    top: 0;
    left: 0;
}

// ----------- Metrics ---------

.scene__metrics {
    width: 100%;
    height: 100%;
}

.graph__edge-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    left: 3px;

    font-size: 8px;
    color: #2b3448;
    fill: #2b3448;
    line-height: 14px;
    background-color: #ffffff80;
}

.graph__edge-count--disabled {
    fill: #939eb2;
}
