.node__content {
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #2E89BA50;
    border-radius: 8px;
}

.node__content:hover {
    border-color: #2E89BA;
}

.node__content-metrics {
    width: 56px;
    min-width: 56px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-right: 1px solid #dbdbdb;
    padding-right: 8px;
    margin-right: 8px;
}

.node__content-description {
    height: 100%;

    display: flex;
    align-items: center;
    text-align: left;
}

.node__content-name {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #2B3448;
}

.node__content-name::first-letter {
    text-transform: uppercase;
}

.content-metrics__count {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #2B3448;
}

.content-metrics__cycling {
    display: flex;
    align-items: center;
    margin-top: 3px;
    font-weight: normal;
    font-size: 8px;
    line-height: 14px;
    color: #939EB2;
}

.content-metrics__cycling::before {
    content: '';
    display: block;
    margin-right: 3px;
    width: 6px;
    height: 6px;
    min-width: 6px;
    min-height: 6px;
    border-radius: 50%;
}

.content-metrics__cycling--good::before {
    background-color: #2DDE98;
}

.content-metrics__cycling--bad::before {
    background-color: #F60C86;
}

.node__content--bounds {
    justify-content: center;

    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: white;

    background-color: #2E89BA;
    border-color: #2E89BA;
    padding: 0;
}
